@model PicturePlannerIDF.Models.Thing

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Thing</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SharedThingId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SharedThingId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublicThingId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublicThingId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocalImagePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocalImagePath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SharedImagePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SharedImagePath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublicImagePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublicImagePath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitOfMeasure)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitOfMeasure)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Length)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Length)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Width)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Width)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.XPosition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.XPosition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YPosition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YPosition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Orientation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Orientation)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ThingId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
